{
    "presets": ["env","stage-2","es2015"],
    "plugins": [
        ["transform-class-properties"],
        ["transform-object-rest-spread"],["transform-async-to-generator"],["transform-runtime"]

      ]
}